<div class="container">
  <div class="bv-signin-wrapper">
    <div class="bv-signin">
      <img src="img/bv-logo.png" />
      <form action="" method="post" name="Login_Form" class="form-signin">
        <h3 class="bv-signin-heading">Manage Claims</h3>

        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
          <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
        </div>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
          <input type="password" class="form-control" name="Password" placeholder="Password" required="" />
        </div>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></div>
          <select class="form-control">
            <option>Expense Reimbursement</option>
            <option>Form B</option>
          </select>
        </div>

        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" ui-sref="root.home" >Login</button>
      </form>
    </div>
  </div>
</div>